.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}
.font-bold {
    font-weight: 700;
}

.text-xl {
    font-size: 20px;
    line-height: 30px;
}

.text-lg {
    font-size: 18px;
    line-height: 28px;
}

.text-md {
    font-size: 16px;
    line-height: 24px;
}

.text-sm {
    font-size: 14px;
    line-height: 20px;
}

.text-xs {
    font-size: 12px;
    line-height: 18px;
}

h6,
.h6 {
    font-size: 24px;
    line-height: 32px;
}
