//color
$primary-900: #001320;
$primary-800: #011C2F;
$primary-600: #053354;
$primary-500: #004677;
$primary-300: #407ba4;
$primary-50: #e8f1f6;
$primary-25: #f5fafd;
$transparent: #000f;
$gray-900: #101828;
$gray-800: #1d2939;
$gray-700: #344054;
$gray-600: #475467;
$gray-500: #667085;
$gray-400: #98a2b3;
$gray-300: #d4d9e0;
$gray-200: #eaecf0;
$gray-100: #f2f4f7;
$gray-50: #5f6d7e;
$error-700: #B42318;
$error-500: #f04438;
$error-300: #fda29b;
$neutral-700: #d1d9e2;
$blue-50: #eff8ff;
$blue-700: #175cd3;
$warning-600: #dc6803;
$warning-300: #fec84b;
$warning-25: #fffcf5;
$success-500: #12B76A;


